*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    
}
.header,.container,.footer{
    display: flex;
}
.header{
    
    flex: 1;
    justify-content: left;
    position: sticky;
    background: #112031;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 5px;

}
.visita_header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
 
}

.icono-bar{
    font-size: 30px;
}
.bars{
     font-size: 30px;
     display: flex;
     flex-direction: row-reverse;
     
}
.header>.background{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.background>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.container-bars{
    position: absolute;
    border: 1px solid rgb(79, 139, 218);
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    z-index: 20;
    width: 85%;
    height: 33vh;
    margin: 70px 20px 0px 20px;
    display: none;
}
ol{
    list-style: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ol li{
    border-bottom: 1px solid #000;
}
ol li:hover{
    background-color: rgb(62, 107, 223);
}
ol li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 900;
    
    
}
ol li:hover a{
    color:#eee;
    
    width: 100%;
    height: 40px;

}
li a i{
    margin: 5px 10px 5px 10px;
    font-size: 20px;
    width: 25px;
    color:#224266;
}
.container{
   flex: 6;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.header_content_2,.content_article_2,.content_article,.header_content,.content_article.content_footer{
    display: flex;
}
.content{
    background: #00a1;
    border-radius: 10px;
    flex-direction: column;
    color: #333;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.header_content{
    margin: 1px;
    width: 90%;
    color: #000;
    font-weight: 700;

}
.content_article{
    width: 100%;

    color: #000;
    height:75%;
    overflow-y:scroll;
    flex-direction: column;
  
}
.content_article_2{
    width: 100%;
    color: #000;
    height:70px;
    align-items: center;
    
}
.content_article_items{
   width: 75%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.content_article_btn{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    
}
.btn_boots{
        width: 95%;
        margin: 5px;
        height: 75%;
}
.btn_2{
    margin: 5px;
    background: #112031;
    outline: none;
    width: 100px;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    
}

.grid_1{
    grid-column: 1 /span 1;
    grid-row: 1/span 1;
    
} 
.grid_2{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    text-align: left;
} 
.grid_1_2{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
     padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.grid_3{
    grid-column: 3 /span 1;
    grid-row: 1/span 1;
}

.footer_btn_option{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.content_article_2>.date{
    border-radius: 10px;
    width: 150px;
    padding:15px;
    display: flex;
    justify-content: space-evenly;
    background: #152D35;
    color: #fff;
}
.header_content_2>div{
     display: flex;
     margin: 2px;
     padding: 8px 3px 8px 2px;
     border-radius: 10px;
     align-items: flex-end;
}
.header_content_2{
    margin: 0;
    background: #152D35;
    border-radius: 10px;
    color:#fff;
    padding: 5px;
}

.card_buttom{
    width: 100%;
}
.formulario_change{
    margin:auto;
    
    width: 90%;
    
}
.title_form{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
}
.change_for{
    background-color: #55f2;
    border-radius: 10px;
    padding: 40px;
  
}
[type="file"]{
    width: 180px;
    background: orange;
    display: none;
}
.usuario_prefil{
    display: flex;
    background:#ddd4;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.imagen_perfil>img{
    width: 180px;
    height: 200px;
    border: 1px solid #000;
}
.body_perfil{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.texto_card{

    text-align: justify;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #00f3;;
}

.btn_form_add{

    width: 100%;
}
.grupo_date_time{
    
    width: 100%;
}

.contenido_texto{

    height: 80%;
    width: 100%;
    overflow-y: auto;
}
.img_message{
    width: 30px;
    height: 30px;
    
}
.img_message>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.message_show{
    padding: 10px;
    text-align: justify;
}
.name_perfil{
    display: flex;
    justify-content: space-between;
}
.boton_editar{
    width: 100px;
}